* {
    box-sizing: border-box;
  }
  
  body {
    color:white;
    font-size: 30px;
    background-color: white;
  }
  
  .header {
    margin-bottom: 10px;
  }
  
  .inner-header{
    background:#1c6868;
    height: 150px;
  }


  
  .center-pic{
    display:block;
    margin:auto;
    }
  
  .logo-pic{
    display:block;
    border-radius: 50px;
    margin-left:200px;
    float: left;
    margin-top: 6px;
    }
  
  .logo-text{
    font-size: 3em;
    text-align: right;
    margin-left:50px;
    float: left;
    margin-top: 10px;
  }


  .slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
    margin-bottom: 15px;
}
/* Картинка маштабируется по отношению к родительскому элементу */
  .slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border: none !important;
    box-shadow: none !important;
    }

/* Кнопки вперед и назад */
  .slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    }

  .slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

/* При наведении на кнопки добавляем фон кнопок */
  .slider .prev:hover,
  .slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }

/* Заголовок слайда */
  .slideText {
    position: absolute;
    color: #fff;
    font-size: 50px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
    }

/* Кружочки */
  .slider-dots {
    text-align: center;
    }

.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

.active,
.slider-dots_item:hover {
    background-color: #aaa;
  }

/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
  }

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
  }


  .delivery {
    font-size: 4ex;
    color: black;
    text-align: center;
  }

  .content {
    width: 100%;
  }
  
  .inner-content {
    background: rgb(255, 255, 255);
    min-height: 500px;
  }
  
  .flex-item-1 {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 40px;
    padding-top: 20px;
    line-height: 45px;
    color: #050201;
    background-color: #FAE8C7;
    display: inline-block;
    font-weight: bold;
    font-family : Courier;
    font-size: 20px;
    text-align: justify ;
  }
  
  .flex-item-2 {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 240px;
    line-height: 45px;
    color: #050201;
    background-color: #1c6868;
    display: inline-block;
    font-weight: bold;
    font-family : Courier;
    font-size: 10x;
    text-align: center;
  }
  
  .flex-item {
    padding: 5px;
    width: 250px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 100px;
    line-height: 45px;
    background-color: #e0e0e0;
    display: inline-block;
    font-weight: bold;
    font-family : Courier;
    text-align: center;
    color: black;
  }
  
  .item {
    order: 4;
    flex-grow: 4; 
    flex-shrink: 3;
    flex-basis: auto;
  }
  
  .center-pic{
    padding-top: 40px;
    display:block;
    margin:auto;
    }

  .dop{
    color: black;
    margin-left: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .order{
    height: 50px;
    width: 250px;
    margin-left: 250px;
    font-size: 2ex;
  }
    
  .footer {
    margin-top: 10px;
  }
  
  .inner-footer {
    background:#1c6868;
    height: 150px;
    text-align: center;
    font-family: Courier;
    font-weight: bold;
    font-size: 2ex;
  }


  
  /* Базовые стили слоя, затемнения и модального окна */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed; /* фиксированное позиционирование */
  cursor: default; /* тип курсора */
  }
   
  /* активируем слой затемнения */
  .overlay:target {
  display: block;
  }
   
  /* стили модального окна */
  .popup {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  /* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  background: #fefefe;
  /* скругление углов */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  color: black;
  /* внешняя тень */
  -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  -o-transition: -o-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  }
   
  /* активируем модальный блок */
  .overlay:target+.popup {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%;
  }
   
  /* формируем кнопку закрытия */
  .close {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0;
  border: 2px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font: 13px/20px 'Tahoma', Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  -ms-transition: all ease .8s;
  -o-transition: all ease .8s;
  transition: all ease .8s;
  }
   
  .close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
  }
   
  .close:hover {
  background-color: rgba(252, 20, 0, 0.8);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  }
